.App {
  display:flex;
  text-align: center;
  background-color: black;
}
body{
  background-color: black;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

   .list-places {
     background: black;
     line-height: 35px;
     padding: 10px 10px 10px 50px;
     text-align: left;
     width: 25 vw;
     font-size: 16px;
     position:absolute;
     left:75vw;
     top:8vh;

   }
/* Map{
  height:85%;
  width:75%;
} */
.heading{
  color: white;
  text-align: center;
/* margin-left: 350px; */
}
.App-link {
  color: #61dafb;
}

.extra-data{
  visibility: visible;
}


.main{
 flex-basis: 70%;
 display: flex;
 flex-direction: column;
}

.map-container{
 flex-grow: 1;
 height: 85vh;
 top: 0;
 position: sticky;
}

.info-window{
  background-color: ligth-gray;
}
.four-square{
  color: gray;
}

.list-button{
  font-size:16px;
  color:white;
  background-color: transparent;
  border:none;

}
.extra-data{
  color:white;
}

.places {
  background: black;
  line-height: 35px;
  padding: 10px 10px 30px 50px;
  text-align: left;
  width: 25 vw;
  font-size: 16px;
  position:absolute;
  left:75vw;
  top:15vh;
}

.MAP{
  /* display: flex;
flex-wrap: wrap; */
width:75%;
height:100%;
}

@media screen and (max-width:750px){
  .main {
    flex-basis: 100%;

  }
.places{
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  margin-top: 10px;
  position: static;
  left:0;
  width:100%;
}

.list-places {
  position:static;
  width:100vw;


}
.MAP{
  width:100%;
}
.main{
  flex-basis: 100%
}

.heading{
  margin-left: 10px;
}
}
